footer {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

  padding: em($small-space) 0;
  bottom: 0;
  width: 100%;

  color: $dark-color;
  background-color: $light-color;
}
