.app-header {
  position: fixed;
  width: 100%;
  color: $dark-color;
  .logo {
    width: $logo-width;
  }

  .title {
    font-size: $small-title;
    text-align: center;
  }

  @include mq(mobile-breakpoint) {
    .title {
      font-size: $big-title;
    }
  }
}
