.cards-container {
  padding-top: 50px;
  margin-block: em($cards-margin);
  .code-block-card {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: em($xxLarge-space) em($medium-space);

    &:hover {
      box-shadow: em($min-space) em($min-space) em($medium-space)
        rgba($light-color, 0.5);
      cursor: pointer;
    }
  }
}
